.loading__fr {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: white;
}

.loading__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}